<div class="container pt-3">
  <div class="container-fluid mx-auto">
    <h1 class="text-center text-uppercase">Batman Code</h1>
  </div>
  <ul class="nav nav-pills justify-center-center text-center text-uppercase">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active"><fa-icon [icon]="faCoffee"></fa-icon>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/challenges" routerLinkActive="active">Challenges</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!auth.authenticated" class="nav-link" (click)="auth.signInWithGoogle()" >Login</a>
    </li>
  </ul>
  <div class="container-fluid mx-auto pt-2">
    <router-outlet></router-outlet>
  </div>
</div>
