@import "common-core/shared";
li > a.nav-link {
    color: $secondary-custom;
    p {
        font-weight: 600px;
        font-family: $main-links-font;
        font-size: 21px;
        color: $primary-light;
    }
    fa-icon {
        font-size: 21px;
    }
}
li > a.nav-link:hover{
    p {
        background-color: $primary-dark;
    }
}