<h1>
    Smart Editor
</h1>
<div>
    <div>
        <ul>
            <li>
                <a>
                    <select required [(ngModel)]="language" id="language" (input)="onLanguageChange($event.target.value)">
                     <option class="placeholder" selected="selected" disabled value="">Select language</option>
                    <option value="c_cpp">c</option>
                    <option value="java">java</option>
                    <option value="python">python</option>
                    <option value="html">html</option>
                  </select>
                </a>
            </li>
            <li><a>Download</a></li>
            <li><a>Share on Drive</a></li>
            <li>
                <a>
                    <select required [(ngModel)]="category" id="category" (input)="onThemeChange($event.target.value)">
                       <option value="" disabled selected>Select Theme</option>
                      <option value="chrome"  >Chrome</option>
                      <option value="clouds"  >Clouds</option>
                      <option value="crimson_editor"  >Crimeson Editor</option>
                      <option value="dawn"  >Dawn</option>
                      <option value="dreamweaver"  >Dramweaver</option>
                      <option value="eclipse"  >Eclipse</option>
                      <option value="github"  >Github</option>
                      <option value="iplastic"  >IPlastic</option>
                      <option value="solarized_light"  >Solarised Light</option>
                      <option value="textmate"  >Textmate</option>
                      <option value="tomorrow"  >Tomorrow</option>
                      <option value="xcode"  >XCode</option>
                      <option value="kuroir"  >Kuroir</option>
                      <option value="katzenmilch"  >Katzen Milch</option>
                      <option value="sqlserver"  >SQL Server</option>
                      <option value=""  disabled><div class="blue">Dark themes</div></option>
                      <option value="ambiance"  >Ambiance</option>
                      <option value="chaos"  >Chaos</option>
                      <option value="clouds_midnight" >Clouds Midnight</option>
                      <option value="cobalt"  >Cobalt</option>
                      <option value="idle_fingers"  >Idle Fingers</option>
                      <option value="kr_theme"  >KR theme</option>
                      <option value="merbivore"  >Merbivore</option>
                      <option value="merbivore_soft"  >Merbivore Soft</option>
                      <option value="mono_industrial"  >Mono Industrial</option>
                      <option value="monokai"  >Monokai</option>
                      <option value="pastel_on_dark"  >Pastel_on_dark</option>
                      <option value="solarized_dark"  >Solarised Dark</option>
                      <option value="terminal"  >Terminal</option>
                      <option value="tomorrow_night_blue"  >Tommorrow Night Blue</option>
                      <option value="tomorrow_night_bright"  >Tommorrow Night Bright</option>
                      <option value="tomorrow_night_eighties"  >Tommorrow Night 80's</option>
                      <option value="twilight"  >Twilight</option>
                      <option value="vibrant_ink" >Vibrant Ink</option>
                    </select>
                </a>
            </li>
            <li><a>Styling</a></li>
        </ul>
    </div>
    <ace-editor #firstEditor [text]="content" (textChanged)="onRuleChange($event)" [autoUpdateContent]="true" style="min-height: 420px; width:100%; overflow: auto;" mode="html"></ace-editor>
</div>

<p></p>