<div *ngIf="challenge">

    <h2 class="mb-3">{{challenge.title}}</h2>
    <hr><br>
    <div [innerHTML]='challenge.statement'></div>
    <div class="row my-4">
        <div class="card col pb-2 mx-1">
            <div class="card-header">Test Case Input</div>
            <div class="card-body" [innerHTML]='challenge.testCase'></div>
        </div>
        <div class="card col pb-2 mx-1">
            <div class="card-header">Test Case Output</div>
            <div class="card-body" [innerHTML]='challenge.testSolution'></div>
        </div>
    </div>
    <p *ngIf="!auth.authenticated">Login to submit solution</p>
    <form *ngIf="auth.authenticated" [formGroup]="challengeForm">
        <div class="form-group">
            <select class="custom-select form-control col-2 offset-10 form-control-sm" id="choosenLanguage" formControlName="language">
        <option value="none" selected>Language</option>
        <option value="C" >C</option>
        <option value="CPP" >C++</option>
        <option value="CPP11" >C++ 11</option>
        <option value="CLOJURE" >Clojure</option>
        <option value="CSHARP" >C#</option>
        <option value="JAVA" >Java</option>
        <option value="JAVASCRIPT" >Javascript</option>
        <option value="HASKELL" >Haskell</option>
        <option value="PERL" >Perl</option>
        <option value="PHP" >PHP</option>
        <option value="PYTHON" >Python</option>
        <option value="RUBY" >Ruby</option>
      </select>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="codeTextarea" rows="10" formControlName="code"></textarea>
        </div>
        <div class="form-group text-right">
            <!-- <button class="btn btn-primary mr-2">Test Run</button> -->
            <button class="btn btn-primary" [disabled]='runButtonState' (click)="run('final-run')">Run</button>
        </div>
    </form>
    <div *ngIf="latestSubmission" class="card">
        <div class="card-body">
          <span *ngIf="latestSubmission.status == 'submitted'">Submitted</span>
          <div *ngIf="latestSubmission.status != 'submitted'">
            <!-- We are using ngIf because the result might be still processing -->
            <ngb-alert *ngIf="latestSubmission.result == true && latestSubmission.status=='completed'" [type]="'success'" [dismissible]="false">The code was right!</ngb-alert>
            <ngb-alert *ngIf="latestSubmission.result == false" [type]="'danger'" [dismissible]="false">The code was wrong!</ngb-alert>
      
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Result</th>
                  <th scope="col">Pass Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let caseResult of latestSubmissionResults">
                  <th scope="row">{{caseResult.caseId}}</th>
                  <td>{{caseResult.result}}</td>
                  <!-- TODO Add icons, and what not -->
                  <td>{{caseResult.pass}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>